# Ignore environment files
.env
.env.*

# Ignore version control
.git
.gitignore

# Ignore node & composer dependencies
node_modules
vendor

# Ignore Laravel cache & logs
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php

# Ignore test & documentation
tests
*.md

# Ignore OS & IDE files
.DS_Store
Thumbs.db
.idea
.vscode
