* {
  box-sizing: border-box;
}

.LatestSection {
  padding: 3rem 20%;
}

.LatestSection h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.cardContainer > * {
  flex: 0 2 calc(33.33% - 2rem);
  max-width: calc(33.33% - 2rem);
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
